modules = ["web", "nodejs-20"]
run = "npm install && npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm install && npm run dev"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Development"

[[workflows.workflow]]
name = "Development"
author = 29611748
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
